
.zhtt-layout .zhtt-layout-left{
    float: left;background-color: #FFF;height:100%;overflow:auto;width:300px;
}
.zhtt-layout .zhtt-layout-right{
    float: left;background-color: #FFF;height:100%;overflow:auto;
}